@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeBook</title>
    <link rel="stylesheet" href="style.css" />
    <!--<link rel="stylesheet" href="Teststyle.css"/>-->
</head>
<body class="landing">
    <header id="header">
        <h1><a href="index.html">Tradebook</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#" class="button special">Login</a></li>
            </ul>
        </nav>
    </header>
    <section id="banner">
        <h2>Welcome to Tradebook</h2>
        <p>Search for Books below</p>
        <ul class="actions">
            <li>
                <a href="#" class="button big">Search</a>
            </li>
        </ul>
    </section>
</body>
</html>